* {
    font-family: 'huninn', '微軟正黑體', 'Microsoft JhengHei', 'PingFang', sans-serif;
    font-weight: normal;
}
@supports (-webkit-touch-callout: none) {
    #flag {
        background-attachment: initial !important;
        background-size: initial !important;
    }
}
.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    left: -1px;
    position: fixed;
    z-index: 4;
    width: max(4%, 50px);
    background-color: rgba(255,255,255,.5);
    margin: 16px 0;
    border: solid 1px rgba(0, 0, 0,.5);
    border-radius: 0 6px 6px 0;
    background-color: rgba(255,255,255,.6);
}
.menu-item {
    font-size: 32px;
    margin: 4px;
    color: rgba(0, 0, 0, 0.9);
}
#flag {
    width: 100vw;
    height: 80vh;
    box-sizing: content-box;
    position: relative;
    background-image: url("/res/img/bg.svg"), linear-gradient(DeepSkyBlue, DeepSkyBlue);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#flag:after {
    content: "";
    position: absolute;
    left: 0vw;
    bottom: -1px;
    width: 0;
    height: 0;
    border-bottom: 20vh solid White;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    transform: scale(1.1);
}
#title {
    position: absolute;
    top: calc( 6vh - 24px );
    font-size: calc( ( 16px + 1vmax ) * 1.2 );
    letter-spacing: 2px;
}
#subtitle {
    position: absolute;
    top: calc( 20vh - 24px + ( 16px + 1vmax ) * 1.4 );
    font-size: calc( ( 16px + 1vmax ) * 0.6 );
    letter-spacing: -1px;
}
#logo {
    display: inline-block;
    position: absolute;
    bottom: 10vh;
    background: white;
    z-index: 10;
    border-radius: 50%;
    padding: 8px;
    max-width: 30vmin;
    max-height: 30vmin;
    min-width: 10vmin;
    min-height: 10vmin;
}
#logo > img {
    display: block;
    margin: 0 auto;
    width: 240px;
    height: 240px;
    max-width: 30vmin;
    max-height: 30vmin;
    min-width: 10vmin;
    min-height: 10vmin;
    border-radius: 50%;
}
#ig {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.ig-border {
    display: flex;
    align-items: center;
    position: relative;
    background: white;
    border: solid 1px transparent;
    border-radius: 4px;
    padding: 2px 4px;
}
.ig-border::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -3px;
    border-radius: 6px;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
.ig-follow {
    display: inline-block;
    padding: 16px 6px;
    font-size: 32px;
}
.ig-color {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 2px;
}
#posts {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 32px auto;
    width: 90%;
}
#posts > div {
    max-width: 100%;
    min-width: min(90%, 400px);
}
.ig-post {
    position: relative;
    border-radius: min(1.5vmin, 8px);
    margin: 16px 0;
}
.ig-post-link {
    position: relative;
}
.ig-post-image {
    margin: 0 5%;
    max-width: 90%;
    min-width: min(40%, 400px);
    border-radius: min(1.5vmin, 8px);
}
.new-post {
    position: absolute;
    height: 100%;
    width: 90%;
    margin: 0 5%;
    border-radius: min(1.5vmin, 8px);
}
.new-post::before, .new-post::after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%, #C5C1FF 56%, #2CD8D5 0%);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: newPostBorder 20s linear infinite;
    border-radius: min(1.675vmin, 9px);
}
.new-post::after {
    filter: blur(6px);
}
@keyframes newPostBorder {
    0% {background-position: 0 0;}
    100% {background-position: 400% 400%;}
}

.slick-next {
    right: -20px;
}
.slick-prev {
    left: -20px;
}
.slick-next::before, .slick-prev::before {
    color: #333;
}

.debugger.log {
    color: deepskyblue;
}
.debugger.warn {
    color: orange;
}
.debugger.error {
    color: red;
}

.slick-initialized .slick-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
